<%= form_for(@import) do |f| %>
  <% if @import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :report_to %><br />
    <%= f.number_field :reportto %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :position_title %><br />
    <%= f.text_area :positiontitle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
